<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Social Media Dashboard</h1>
        <div class="row">
            <div class="col-md-8">
                <h2>Posts</h2>
                <ul class="list-group">
                    {% for post in posts %}
                    <li class="list-group-item">{{ post.content }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Analytics</h2>
                <ul class="list-group">
                    {% for analytic in analytics %}
                    <li class="list-group-item">{{ analytic.metric }}: {{ analytic.value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
